<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body{
            display: flex;
            /* justify-content: center; */
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h2 class="fileName"><%=fileName%></h2>
    <div class="display">
        <p style="text-align: justify;">Data: <br><h4><%=data%></h4></p>
        <a id="goBack" style="color: white; position: absolute; bottom: 10px;" href="/"><< Home Page</a>
    </div>
</body>
</html>